<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>To Do List app</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		{{ encore_entry_link_tags('app') }}

		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	</head>

	<body>
		{% include "navbar.html.twig" %}

		<!-- Page Content -->
		<div id="page-body" class="container">
			<div class="row">
				<div class="col-md-12">
					{% for flash_message in app.session.flashBag.get('success') %}
						<div class="alert alert-success" role="alert">
							<strong>Superbe !</strong>
							{{ flash_message }}
						</div>
					{% endfor %}

					{% for flash_message in app.session.flashBag.get('error') %}
						<div class="alert alert-danger" role="alert">
							<strong>Oops !</strong>
							{{ flash_message }}
						</div>
					{% endfor %}

					{% block header_title %}
						<div style="margin-bottom: 50px">
							<h1 class="text-center">Bienvenue sur Todo List</h1>
							<div class="description text-center">L'application vous permettant de gérer l'ensemble de vos tâches sans effort !</div>
						</div>
					{% endblock %}

					{% if app.request.attributes.get('_route') != 'login' %}
						{% block header_img %}
							<div class="text-center">
								<img class="slide-image text-center" src="{{ asset('build/images/todolist_homepage.jpg') }}" alt="todo list">
							</div>
						{% endblock %}
					{% endif %}

				</div>
			</div>

			<br/>

			<div class="row">
				<div class="col-md-12"> {% block body %}{% endblock %}
					</div>
				</div>
			</div>
			<!-- /.container -->

			<div class="container">

				<hr>
				<footer>
					<div class="row">
						<div class="col-lg-12">
							<p class="pull-right">Copyright &copy; OpenClassrooms</p>
						</div>
					</div>
				</footer>

			</div>
			<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
			{{ encore_entry_script_tags('app') }}
		</body>
	</html>
